<template>
<div class="wrapper">
   <app-header></app-header>
   <app-wrapper v-if="initDataLoaded">
         404
	</app-wrapper>
</div>
</template>
<script>
import appHeader from '../blocks/header.vue';
import appWrapper from '../blocks/wrapper.vue';
import { mapMutations,mapState } from 'vuex';
export default {
	name:'teams',
	components:{appHeader,appWrapper},
	computed: {
		...mapState(['initDataLoaded']),
	},
}
</script>