<template>
<div class="auth">
    <div class="auth-header">
        <h1>{{$t('auth.title')}}</h1>
        <h6>{{$t('auth.welcome')}}</h6>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" v-model="email" class="form-control" :placeholder="$t('auth.email')">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" v-model="password" class="form-control" :placeholder="$t('auth.password')">
                            <div class="input-group-addon"><i class="ti-key"></i></div>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="pull-xs-left" style="display:none">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" v-model="remember_me" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description font-90">{{$t("auth.remember_me")}}</span>
                            </label>
                        </div>
                        <div class="pull-xs-right">
                            <a class="text-white font-90" href="#">{{$t("auth.forgot_password")}} </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-block" @click="handleLogin()">{{$t("auth.sign_in")}}</button>
                    </div>
					<p class="text-white" v-if="loginText.length>0">{{$t(loginText)}}</p>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import { mapState } from 'vuex'
import { mapActions } from 'vuex'
export default {
	computed: {
		 ...mapState('auth', ['loginText','loggedIn']) 
	},
	created:function() {
		if (this.loggedIn) {
			this.$router.push('/panel');
		}
	},
	methods: {
		handleLogin: async function login() { // вызов функции логина
			await this.$store.dispatch('auth/login',{
				'email':this.email,
				'password':this.password
			});
		}
	},
	data: () => ({
		email:'',
		password:'',
		remember_me:true,
	}),
}
</script>
