<template>
<div>
   <app-header></app-header>
</div>
</template>
<script>
import appHeader from '../blocks/header.vue';
export default {
	name:'index',
	components:{appHeader},
	methods:{
		
	}
}
</script>