<template>
<div class="wrapper">
   <app-header></app-header>
   <app-wrapper v-if="initDataLoaded">
						<ol class="breadcrumb no-bg m-b-1">
							<li class="breadcrumb-item"><router-link to="/panel">{{$t("common.home")}}</router-link></li>
							<li class="breadcrumb-item"><router-link :to="'/teams/'+currentTeamData.id">{{currentTeamData.name}}</router-link></li>
							<li class="breadcrumb-item active">{{$t("projects.title")}}</li>
						</ol>
						<div class="row">
							<div class="col-md-12">
								<ul class="nav nav-tabs nav-tabs-2">
								<li class="nav-item">
										<a class="nav-link" @click="setFilter(0)" :class="{'active':filter=='FILTER_INCOMPLETE'}"><i class="ti-user text-muted m-r-0-25"></i> {{$t("projects.incomplete")}} </a>
									</li>
									<li class="nav-item">
										<a class="nav-link" @click="setFilter(1)" :class="{'active':filter=='FILTER_ALL'}"><i class="ti-user text-muted m-r-0-25"></i> {{$t("common.all")}} </a>
									</li>
									<li class="nav-item">
										<a class="nav-link" @click="setFilter(2)" :class="{'active':filter=='FILTER_MY'}"><i class="ti-package text-muted m-r-0-25"></i> {{$t("projects.my_projects")}} </a>
									</li>
									<li class="nav-item">
										<a class="nav-link" @click="setFilter(3)" :class="{'active':filter=='FILTER_MYJOBS'}"><i class="ti-settings text-muted m-r-0-25"></i> {{$t("projects.my_jobs")}} </a>
									</li>
									<li class="nav-item">
										<a class="nav-link" @click="setFilter(4)" :class="{'active':filter=='FILTER_ARCHIVE'}"><i class="ti-alert text-muted m-r-0-25"></i> {{$t("projects.archive")}} </a>
									</li>
								</ul>
							</div>
						</div>
						  <!-- Content ######################################################################### -->
                       <div v-if="filterProjects(getProjectsByTeam(currentTeamData.id)).length>0">
							<div class="box box-block bg-white m-b-0 project"  v-for="project in filterProjects(getProjectsByTeam(currentTeamData.id))">
								<div class="row">
								<div class="col-md-12">
									<h3>{{project.name}}</h3>
									<div v-if="filterJobs(getJobsByProject(project.uuid)).length>0">
									<div v-for="job in filterJobs(getJobsByProject(project.uuid))" class="row job-line" >
										<div class="col-md-9 job-progress open-tasks" @click="showJob(job)">
											<p class="m-b-0-5">
												<i class="fa fa-play"></i> {{job.name}}
												<!--fa-stop-->
												<span class="pull-xs-right">{{job.progress}}%</span></p>
											<progress class="progress progress-info progress-sm" :class="{'progress-danger':job.status=='del','progress-warning':job.status=='pau'}" :value="job.progress" max="100">100%</progress>
										</div>
										<div class="col-md-3 job-buttons">
											<div class="job-info-row">
												<p class="rendertime"><i class="fa fa-clock-o"></i> 00:12:32</p>
												<p class="job-info-money">12$</p>
											</div>
											<div class="btn-group btn-group-sm job-buttons-row">
												<button :disabled="job.locked==true" v-if="job.status!='pau'" @click="setJobStatus({job:job.uuid,status:'pau'})" type="button" class="btn btn-outline-info waves-effect waves-light"><i class="fa fa-pause"></i>{{$t("common.pause")}}</button>
												<button :disabled="job.locked==true" v-else @click="setJobStatus({job:job.uuid,status:'inp'})" type="button" class="btn btn-outline-info waves-effect waves-light"><i class="fa fa-play"></i>{{$t("common.start")}}</button>
												<button :disabled="job.locked==true" @click="restartJob(job.uuid)"  type="button" class="btn btn-outline-warning waves-effect waves-light"><i class="fa fa-refresh"></i>{{$t("common.restart")}}</button>
												<button :disabled="job.locked==true" @click="setJobStatus({job:job.uuid,status:'del'})" type="button" class="btn btn-outline-danger waves-effect waves-light"><i class="fa fa-remove"></i>{{$t("common.delete")}}</button>
												<!--<button type="button" class="btn btn-outline-primary waves-effect waves-light open-tasks"><i class="fa fa-th"></i> Open</button>-->
											</div>

										</div>
										<hr>
									</div>
									</div>
									<div v-else class="alert">
										{{$t("projects.no_jobs")}}
									</div>
								</div>
                            </div>
							</div>
						</div>
						<div v-else class="box box-block bg-white m-b-0 p-3">
							<div class="alert">
								{{$t("projects.no_projects")}}
							</div>
						</div>
		</app-wrapper>
</div>
</template>
<script>
import appHeader from '../blocks/header.vue';
import appWrapper from '../blocks/wrapper.vue';
import {mapActions, mapMutations, mapGetters, mapState } from 'vuex';
export default {
	name:'teams',
	components:{appHeader,appWrapper},
	computed: {
		...mapState(['initDataLoaded']),
		...mapState('auth', ['email']),
		...mapGetters('teams', ['currentTeamData']),
		...mapGetters('projects', ['getProjectsByTeam']),	
		...mapGetters('jobs', ['getJobsByProject']),	
	},
	data:function() {
		return {
			filter:'FILTER_INCOMPLETE',
		}
	},
	methods:{
		...mapActions('jobs',['restartJob','setJobStatus']),
		filterJobs(jobs) {
			if (this.filter==2) {
				return jobs.filter(job=>job.creator_email==this.email);
			} else {
				return jobs;
			}
		},
		filterProjects(projects) {
			switch(this.filter) { // фильтрация проектов в зависимости от текущей вкладки
				case 'FILTER_INCOMPLETE':
					projects.filter((project)=>{
						let has_incomplete=false;
						let completed_statuses=['arh','com'];
						this.getJobsByProject(project).forEach(job=>{
							if (completed_statuses.indexOf(job.status)!=-1) {
								has_incomplete=true;
							}
						});
						return has_incomplete;
					})
					return projects;
				case 'FILTER_ALL':
					return projects;	
				case 'FILTER_MY':
				case 'FILTER_MYJOBS':
					return projects.filter(project=>project.creator_email==this.email);
				case 'FILTER_ARCHIVE':
					return projects.filter(project=>project.status=='arh');
				default:
					return [];
			}
		},
		setFilter(filter){
			this.filter=filter;
		},
		showJob(job) {
			this.$store.commit('setJobPanel',{state:true});
			this.$store.commit('jobs/setCurrentJob',job.uuid);
		},
	}
}
</script>