<template>
<div class="wrapper">
   <app-header></app-header>
   <app-wrapper  v-if="initDataLoaded">
         <ol class="breadcrumb no-bg m-b-1">
            <li class="breadcrumb-item"><router-link to="/">{{$t("common.home")}}</router-link></li>
            <li class="breadcrumb-item active">{{$t("settings.title")}}</li>
         </ol>
         <!-- Content ######################################################################### -->
		 <div class="box box-block bg-white">
			<div class="form-group">
				<label for="exampleSelect1">{{$t('common.lang')}}</label>
				<select class="form-control"  v-model="currentLang" @change="setLang(currentLang)">
					<option v-for="language in Object.keys(langData)" :value="language">{{langData[language].lang_name}}</option>
				</select>
			</div>
			
		</div>
		</app-wrapper>
</div>
</template>
<script>
import appHeader from '../blocks/header.vue';
import appWrapper from '../blocks/wrapper.vue';
import { mapMutations,mapState } from 'vuex';
import lang from '@/i18n/lang.js'; 
export default {
	name:'teams',
	components:{appHeader,appWrapper},
	computed: {
		...mapState(['initDataLoaded','lang']),
	},
	data:function() {
		return {
			currentLang:this.lang,
			langData:lang.messages
		}
	},
	created:function() {
		this.currentLang=this.lang;
	},
	methods:{
		...mapMutations(['setLang'])
	}
}
</script>