<template>
<div class="wrapper">
   <app-header></app-header>
   <app-wrapper  v-if="initDataLoaded">
                <ol class="breadcrumb no-bg m-b-1">
                    <li class="breadcrumb-item"><router-link to="/panel">{{$t("common.home")}}</router-link></li>
                    <li class="breadcrumb-item active">{{$t("teams.title")}}</li>
                 </ol>
                <!-- Content ######################################################################### -->

                <div class="box box-block bg-white m-b-0">
                    <div class="row">
                        <div class="col-md-12">
                                <ul class="nav nav-tabs nav-tabs-2">
                                    <li class="nav-item">
                                        <a class="nav-link" :class="{'active':filter=='FILTER_ALL'}" @click="filter='FILTER_ALL'"><i class="ti-user text-muted m-r-0-25"></i> {{$t("common.all")}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" :class="{'active':filter=='FILTER_MY'}" @click="filter='FILTER_MY'" ><i class="ti-settings text-muted m-r-0-25"></i> {{$t("common.manage")}}</a>
                                    </li>
                                </ul>
                            <br>
                                <div class="row row-md">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <!--<div class="card-header text-uppercase"><b>All My teams</b></div>-->
                                            <div class="posts-list posts-list-1">
                                                <div class="pl-item" v-for="team in filterTeams(teamsList)">
                                                    <div class="media">
                                                        <div class="media-left" style="display:none">
                                                            <a href="#">
                                                                <div class="pli-img">
                                                                    <router-link :to="'/team/'+team.id"><img class="img-fluid" ></router-link>
                                                                    <!--<div class="tag tag-warning">User</div>-->
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="pli-content">
																<h5><a @click="showTeam(team)" class="team-link">{{team.name}}</a></h5>
                                                                <p class="m-b-0-5">{{team.description}}</p>
                                                                <div class="clearfix">
                                                                    <div class="pull-xs-left">
                                                                        <span class="text-grey m-r-1"><i class="fa fa-briefcase"></i>{{getProjectsCountByTeam(team.id)}}</span>
                                                                        <span class="text-grey m-r-1"><i class="fa fa-play"></i>{{team.active_jobs}}</span>																		
                                                                        <span class="text-grey m-r-1"><i class="fa fa-dollar"></i>{{team.current_score}}</span>
                                                                    </div>
                                                                    <!--<div class="pull-xs-right">-->
                                                                        <!--<p class="small text-uppercase text-muted">3 hours ago</p>-->
                                                                    <!--</div>-->
                                                                </div>
                                                                <br>
																<span class="small text-uppercase text-muted">{{status(team.user_status)}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <!--<div class="card-block text-xs-center">-->
                                                <!--<button type="submit" class="btn btn-outline-primary btn-rounded">Show more <i class="ti-reload m-l-0-5"></i></button>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    <!--<div class="col-md-4">-->
                                        <!--<div class="box bg-white post">-->
                                            <!--<div class="p-content">-->
                                                <!--<p>Total Teams: 3</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            <!--</div>-->

                        </div>
                    </div>
				</div>
		</app-wrapper>
</div>
</template>
<script>
import appHeader from '../blocks/header.vue';
import appWrapper from '../blocks/wrapper.vue';
import { mapGetters,mapState } from 'vuex';
export default {
	name:'teams',
	components:{appHeader,appWrapper},
	computed: {
		...mapState(['initDataLoaded']),
		...mapState('teams', ['teamsList']),
		...mapGetters('projects', ['getProjectsCountByTeam']),
	},
	data:function(){
		return {
			filter:'FILTER_ALL',
		}
	},
	methods:{
		showTeam(team) {
			this.$store.commit('setTeamPanel',{state:true});
			this.$store.commit('teams/setCurrentPanelTeam',team.id);
		},
		filterTeams(teams){
			switch (this.tab){
				case 'FILTER_ALL':
					return teams;
					break;
				case 'FILTER_MY':
					return teams.filter(team=>team.user_status=='cre');
					break;
				default:
					return teams;
					break;
			}
		},
		status(t){
			return this.$t('team_statuses.'+t);
		}
	}
}
</script>