<template>
<div class="wrapper">
   <app-header></app-header>
   <app-wrapper v-if="initDataLoaded && getTeamByID(id)">
		 
         <ol class="breadcrumb no-bg m-b-1">
              <li class="breadcrumb-item"><router-link to="/">{{$t("common.home")}}</router-link></li>
              <li class="breadcrumb-item"><router-link to="/teams">{{$t("teams.title")}}</router-link></li>
              <li class="breadcrumb-item active">{{getTeamByID(id).name}}</li>
         </ol>
		<div class="box box-block bg-white">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs nav-tabs-2">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#"><i class="ti-info text-muted m-r-0-25"></i> Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="ti-settings text-muted m-r-0-25"></i> Edit</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="ti-settings text-muted m-r-0-25"></i> Billing</a>
                                </li>

                            </ul>
                            <br>
                            <!--</div>-->

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>{{getTeamByID(id).name}}</h5>
                            <p>Creator: {{getTeamByID(id).creator}}</p>
                            <p>Status: {{status(getTeamByID(id).status)}}</p>
                            <p>Projects: {{getTeamByID(id).active_jobs}}</p>
                            <p>Score: {{getTeamByID(id).current_score}}</p>

                        </div>
                    </div>
                </div>
	</app-wrapper>
</div>
</template>
<script>
import appHeader from '../blocks/header.vue';
import appWrapper from '../blocks/wrapper.vue';
import { mapGetters,mapState } from 'vuex';
export default {
	name:'teams',
	components:{appHeader,appWrapper},
	data:function(){
		return {
			id:this.$route.params.id,
		}
	},
	methods:{
		status:function(my_status){
			return this.$t('statuses.'+my_status);
		},
	},
	computed: {
		...mapState(['initDataLoaded']),
		...mapGetters('teams',['getTeamByID']),
	},
}
</script>