
#app {
	width:100%;
	height:100%;
}

.job-buttons{

}
.job-progress{
    border: 1px solid white;
}
.job-progress:hover{
    background-color: #fbfbfb;
    cursor: pointer;
    border: 1px solid #ebebeb;
}
.task-progress:hover{
    background-color: #fbfbfb;
    cursor: pointer;
}


.rendertime{
    padding-right: 20px;
    font-size: 1.2em;
}

.site-sidebar-second {
    right: -550px;
    width: 550px;
}
@media (max-width: 767px) {
    .site-sidebar-second {
        right: -350px;
        width: 350px;
    }
}

.navbar .divider-vertical {
    height: 50px;
    margin: 10px 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

table.job-table tr td:first-child{
    width: 250px;
    text-align: right !important;
}
@media (max-width: 767px) {
    table.job-table tr td:first-child{
        width: 100px;
    }
}

.header-icon {
    font-size: 1.5em !important;
}

.site-content, .navbar {
    margin-left: 0 !important;
}

.box-block{
    /*margin-bottom: 10px !important;*/
}

.gray-icon{
    color: #5f6067;
}
.auth {
	background-color: #212330;
	height: 100%;
}
.auth .auth-header h1 {
    text-transform: uppercase !important;
}
.show {
		display:block;
}
.dropdown-button{cursor:pointer;}
.dropdown-contents{display:none;}
.dropdown-contents__visible{display:block;}
.dropdown-item {cursor:pointer;}
.dropdown-item-selected{background-color: #f1f1f1;}
.tab-content .fade {opacity:1;}
body {
     overflow-x: hidden;
    overflow-y: auto;
}
.nav-link {
    cursor: pointer;
}
.pane-close {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.pane-close:hover{
	 background: rgba(0, 0, 0, 0.05);
}
.site-content {
    margin-top: 70px;
}
.site-sidebar-second {
    position: fixed;
}
.img-thumbnail{
	cursor:pointer;
}
.modal-backdrop {
    opacity: 1!important;
    background-color: rgba(0,0,0,0.5)!important;
}
.modal.show{
	    opacity: 1;
}
.lightbox{
	display:none;
	opacity:0;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.55);
	align-items: center;
    justify-content: center;
	transition:all 0.5s;
    
}
.lightbox-active {
    display: flex;
    opacity: 1;
}
.lightbox-inner {
	text-align: center;
	position:relative;
	min-width: 250px;
    max-width: 70%;
    padding: 15px;
    background: #fff;
    cursor: pointer;
}
.lightbox-inner .btn{
	color:#fff!important;
}
.lightbox-close {
    position: absolute;
    top: -25px;
    right: 0px;
    white-space: nowrap;
    color: #fff;
}
.lightbox-header {
    font-size: 36px;
    padding: 0 50px;
}
.lightbox-text {
    margin: 10px 0 0;
    text-align: center;
    font-size: 16px;
}
.notifications-wrapper {
    position: fixed;
    bottom: 20px;
    left: 20px;
	z-index:10000000;
}
.notification {
    background: #fff;
    padding: 10px 15px;
    min-width: 300px;
	animation:notification 0.5s;
	opacity:1;
	margin: 10px 0;
	margin-left: 0px;
}
.notification-out {
	opacity:0;margin-left: -350px;
	animation:notification-out 0.5s;
}
.notification i{
	margin:0 5px;
}
.notification-error {
    background: #e6102e;
    color: #fff;
}
.notification-warning {
    background: #f7d005;
}
@keyframes notification {
	0% {opacity:0;margin-left: -350px;}
	100% {opacity:1;margin-left:0;}
}
@keyframes notification-out {
	0% {opacity:1;margin-left:0;}
	100% {opacity:0;margin-left: -350px;}
}
.task-status {
    margin: 0 5px 0 0;
}
.back-to-tasks {
	cursor:pointer;
}
.job-line {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.job-progress {
    height: 100%;
    padding: 10px;
}


.job-buttons-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.job-buttons-row .btn {
	width:100%;
}
.job-buttons-row .btn i{
	margin: 0 5px 0 0;
}
.project {
    padding: 20px 15px 0;
}
.job-buttons {
    padding: 10px;
    width: 30%;
}
.job-info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-link {cursor:pointer;}