<template>
  <div id="app">
    <router-view/>
	<job-panel v-if="initDataLoaded && currentJob"></job-panel>
	<team-panel v-if="initDataLoaded && currentPanelTeamData"></team-panel>
	<preview-lightbox></preview-lightbox>
	<notifications></notifications>
  </div>
</template>

<script>
import {mapGetters,mapState} from 'vuex';
import jobPanel from './components/themes/default/blocks/job-panel.vue';
import teamPanel from './components/themes/default/blocks/team-panel.vue';
import previewLightbox from './components/themes/default/blocks/preview-lightbox.vue';
import notifications from './components/themes/default/blocks/notifications.vue';
export default {
	name: 'app',
	components:{jobPanel,teamPanel,previewLightbox,notifications},
	computed: {
		...mapGetters('jobs',['currentJob']),
		...mapGetters('teams',['currentPanelTeamData']),
		...mapState(['initDataLoaded']),	
	},
	created:function() {
		this.$store.dispatch('auth/checkToken');
	},
}
</script>

<style>
</style>
