<template>
<li v-click-outside="hide" :class="outerclass+(isOpened ? ' open' : '')">
	<a class="nav-link dropdown-toggle" @click="toggle" href="#" data-toggle="dropdown" aria-expanded="true">
         {{text}}
    </a>
	<div :class="innerclass" @click="toggle">
		<slot>		
		</slot>
	</div>
</li>
</template>
<script>
import ClickOutside from 'vue-click-outside';
import { mapState } from 'vuex';
export default {
	name:'dropdownMenu',
	directives: {
		ClickOutside
	},
	props:['outerclass','innerclass','text'],
	data:function() {
		return {
			isOpened:false,
		}
	},
	created:function() {
	
	},
	methods:{
		hide() {
			this.isOpened=false;
		},
		toggle() {
			this.isOpened=!this.isOpened;
		}
	},	
}
</script>