<template>
<div class="site-header">
		<nav class="navbar navbar-light navbar-fixed-top">
            <!--<ul class="nav navbar-nav">
                <li class="nav-item m-r-1 hidden-lg-up">
                    <a class="nav-link collapse-button" href="#">
                        <i class="ti-menu"></i>
                    </a>
                </li>
            </ul>-->
			<ul class="nav navbar-nav pull-xs-right">
				<dropdown-menu outerclass="nav-item dropdown" v-if="initDataLoaded" :text="currentTeamData.name" innerclass="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" @click="setCurrentTeam(team.id)" :class="{'dropdown-item-selected':team.id==currentTeam}"  v-for="team in teamsList">
                           {{team.name}} 
                            <span class="tag tag-primary" style="display:none">3</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <router-link class="dropdown-item"  to="/teams">{{$t("teams.my_teams")}}</router-link>
               </dropdown-menu>
            <li class="nav-item divider-vertical"></li>
			<li class="nav-item dropdown">
                    <a class="nav-link" @click="openTeamPanel()" data-toggle="dropdown" aria-expanded="false">
                        <span style="font-size: 2em">{{currentTeamBalance}}</span>
                     </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-ticket m-r-0-5"></i> {{$t("billing.add_score")}}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-area-chart m-r-0-5"></i> {{$t("billing.title")}}
                        </a>
                    </div>
                </li>
                <li class="nav-item divider-vertical"></li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">
                        <i class="ti-bell"></i>
                        <span class="tag tag-danger top">12</span>
                    </a>
                    <div class="dropdown-messages dropdown-tasks dropdown-menu dropdown-menu-right">
                        <div class="m-item">
                            <div class="mi-icon bg-info"><i class="ti-comment"></i></div>
                            <div class="mi-text"><a class="text-black" href="#">John Doe</a> <span class="text-muted">commented post</span> <a class="text-black" href="#">Lorem ipsum dolor</a></div>
                            <div class="mi-time">5 min ago</div>
                        </div>
                        <div class="m-item">
                            <div class="mi-icon bg-danger"><i class="ti-heart"></i></div>
                            <div class="mi-text"><a class="text-black" href="#">John Doe</a> <span class="text-muted">liked post</span> <a class="text-black" href="#">Lorem ipsum dolor</a></div>
                            <div class="mi-time">15:07</div>
                        </div>
                        <div class="m-item">
                            <div class="mi-icon bg-purple"><i class="ti-user"></i></div>
                            <div class="mi-text"><a class="text-black" href="#">John Doe</a> <span class="text-muted">followed</span> <a class="text-black" href="#">Kate Doe</a></div>
                            <div class="mi-time">yesterday</div>
                        </div>
                        <div class="m-item">
                            <div class="mi-icon bg-danger"><i class="ti-heart"></i></div>
                            <div class="mi-text"><a class="text-black" href="#">John Doe</a> <span class="text-muted">liked post</span> <a class="text-black" href="#">Lorem ipsum dolor</a></div>
                            <div class="mi-time">3 days ago</div>
                        </div>
                        <a class="t-item text-black text-xs-center" href="#">
                            <strong>View all notifications</strong>
                        </a>
                    </div>
                </li>
                <li class="nav-item divider-vertical"></li>
				<dropdown-menu outerclass="nav-item dropdown" v-if="initDataLoaded" :text="email" innerclass="dropdown-menu dropdown-menu-right">
						<!--<a class="dropdown-item" href="#">-->
                        <!--<i class="ti-email m-r-0-5"></i> Inbox-->
                        <!--</a>-->
                        <a class="dropdown-item" href="#">
                            <i class=" ti-id-badge  m-r-0-5"></i> Profile
                        </a>
                        <router-link class="dropdown-item" to="/settings">
                            <i class="ti-settings m-r-0-5"></i> {{$t("settings.title")}}
                        </router-link>
                        <!--<a class="dropdown-item" href="#">-->
                        <!--<i class="ti-harddrives m-r-0-5"></i> Render Groups-->
                        <!--</a>-->

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="ti-help m-r-0-5"></i> Help</a>
                        <a class="dropdown-item" @click="logout()"><i class="ti-power-off m-r-0-5"></i> Sign out</a>
               </dropdown-menu>
                
                <li class="nav-item hidden-md-up">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapse-1">
                        <i class="ti-more"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <logo></logo>
                <li class="nav-item divider-vertical"></li>
                <li class="nav-item" :class="{'active':route=='/panel'}">
                    <router-link to="/panel" class="nav-link">
                        <!--<i class="ti-pie-chart header-icon"></i>-->
						{{$t("common.dashboard")}}
                    </router-link>
                </li>
                <li class="nav-item" :class="{'active':route=='/projects'}">
                    <router-link to="/projects" class="nav-link" >
                        <!--<i class=" ti-menu  header-icon"></i>-->
                        {{$t("projects.title")}}
                    </router-link>
                </li>
                <li class="nav-item" :class="{'active':route=='/teams'}">
                    <router-link to="/teams" class="nav-link">
                        <!--<i class="ti-user header-icon"></i>-->
                        {{$t("teams.title")}}
                    </router-link>
                </li>
            </ul>
            <div class="navbar-toggleable-sm collapse" id="collapse-1">

                <ul class="nav navbar-nav">
					
                </ul>

                <div class="header-form pull-md-right m-md-r-1" style="padding-left: 20px">
                    
                </div>
            </div>
        </nav>
		<div class="preloader" v-show="!initDataLoaded"></div>
</div>
</template>
<script>
import {mapActions,mapGetters,mapMutations, mapState } from 'vuex';
import logo from './logo.vue';
import dropdownMenu from './dropdown-menu.vue';
export default {
	name:'header',
	components:{logo,dropdownMenu},
	data:function(){
		return {
			route:this.$route.path,
		}
	},
	computed: {
		...mapGetters('teams',['currentTeamBalance','currentTeamData']),
		...mapState('auth', ['username', 'email']),
		...mapState('teams', ['teamsList','currentTeam']),
		...mapState(['initDataLoaded','jobPanel']) 	
	},
	methods:{
		...mapActions('auth',['logout']),
		...mapMutations('teams',['setCurrentTeam','setCurrentPanelTeam']),	
		openTeamPanel() {
			this.setCurrentPanelTeam(this.currentTeam);
			this.$store.commit('setTeamPanel',{state:true,tab:2});
		}
	}
}
</script>