<template>
<div class="site-sidebar-second custom-scroll custom-scroll-dark" v-click-outside="hidePanel" :class="{'opened':jobPanel.opened}" style="overflow: hidden; padding: 0px; width: 550px;" >
	<div class="jspContainer" style="position:relative; width: 549px; height: 663px;">
		<div class="pane-close" @click="setJobPanel(false)"><i class="fa fa-times"></i></div>
		<div class="jspPane" style="padding: 0px; top: 0px; left: 0px; width: 550px;">
			<b-tabs v-model="jobPanel.tab">
				<b-tab :title="$t('common.info')">
					<div class="tab-pane active" role="tabpanel">
						<div class="sidebar-chat animated ">
							<div class="sidebar-group">
								<h6>{{$t("common.information")}}</h6>
								<table class="table table-bordered m-md-b-0 job-table">
									<tbody>
									<tr>
										<td>{{$t("common.status")}}</td>
										<td>{{status(currentJob().status)}}</td>
									</tr>
									<tr>
										<td>{{$t("common.project")}}</td>
										<td>{{getProjectNameByID(currentJob().project)}}</td>
									</tr>
									<tr>
										<td>{{$t("common.comment")}}</td>
										<td>{{currentJob().comment}}</td>
									</tr>
									<tr>
										<td>{{$t("common.tasks")}}</td>
										<td>{{currentJob().tasks.length}}</td>
									</tr>
									<tr>
										<td>{{$t("common.owner")}}</td>
										<td>{{currentJob().creator_email}}</td>
									</tr>
									<tr>
										<td>{{$t("common.date")}}</td>
										<td>{{date(currentJob().creation_date)}}</td>
									</tr>						
									</tbody>
								</table>
								<br>
								<h6>{{$t("common.cost")}}</h6>
								<table class="table table-bordered m-md-b-0 job-table">
									<tbody>
										<tr>
											<td>{{$t("common.cost")}}</td>
											<td></td>
										</tr>
										<tr>
											<td>{{$t("common.remaining_cost")}}</td>
											<td></td>
										</tr>
									</tbody>
								</table>
								<br>
								<h6>{{$t("common.time")}}</h6>
								<table class="table table-bordered m-md-b-0 job-table">
									<tbody>
										<tr>
											<td>{{$t("jobs.render_time")}}</td>
											<td> </td>
										</tr>
										<tr>
											<td>{{$t("jobs.remaining_time")}}</td>
											<td></td>
										</tr>
									</tbody>
								</table>
								<br>
							</div>
						</div>
					</div>
				</b-tab>
				<b-tab :title="$t('jobs.tasks')" >
					<div class="tab-pane" id="tab-2" role="tabpanel">
						<div class="sidebar-tasks animated fadeIn" v-show="!task_details">
							<div class="col-md-12">
								<div class="scw-header clearfix">
									{{$t("common.complete")}} {{getCompleteTasks(currentJob().tasks)}}/{{currentJob().tasks.length}}
									<div class="pull-xs-right">
										<div class="btn-group btn-group-sm">
											<button type="button" class="btn btn-secondary waves-effect waves-light">{{$t("common.details")}}</button>
											<button type="button" class="btn btn-secondary waves-effect waves-light">{{$t("common.stop_all")}}</button>
										</div>
									</div>
								</div>
								<hr>
								<div class="row" v-for="(task,$index) in currentJob().tasks" >
									<div class="col-md-2" v-if="task.thumbnail">
										<img class="img-fluid img-thumbnail"  @click="showLightbox(task.preview)" alt="" :src="task.thumbnail">
									</div>
									<div class="col-md-8 task-progress" @click="showTaskDetails($index)">
										<task-status :task="task"></task-status>
									</div>
									<div class="col-md-2">
										<div class="btn-group" role="group">
											<!--<button type="button" class="btn btn-xs btn-secondary waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
												<!--<i class="ti-settings"></i>-->
											<!--</button>-->
											<!--<div class="dropdown-menu  dropdown-menu-right">-->
												<!--<a class="dropdown-item" href="#">Restart</a>-->
												<!--<a class="dropdown-item" href="#">Stop</a>-->
											<!--</div>-->
											<button :disabled="task.disabled" type="button" v-if="task.status!='sto'" @click="setTaskStatus({job:currentJob().uuid,task:task.index,status:'sto'})" class="btn btn-secondary waves-effect waves-light"><i class="fa fa-stop"></i></button>
											<button :disabled="task.disabled" type="button" v-else @click="setTaskStatus({job:currentJob().uuid,task:task.index,status:'inp'})" class="btn btn-secondary waves-effect waves-light"><i class="fa fa-play"></i></button>			
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="sidebar-task-detail animated fadeIn" v-show="task_details" v-if="currentTask!==undefined">
							<div class="col-md-12">
								<div class="scw-header clearfix">
									<a class="back-to-tasks text-grey pull-xs-left" @click="task_details=false"><i class="ti-angle-left"></i> {{$t("common.back")}}</a>
									<div class="pull-xs-right">
										<strong>Task #{{task_index}}</strong>
									</div>
								</div>
							<br>
							<img class="img-fluid img-thumbnail" @click="showLightbox(currentTask.preview)" :src="currentTask.preview"  alt="">
							<hr>
								<div class="m-b-0-5">
									<div class="btn-group">
										<button :disabled="currentTask.disabled" v-if="currentTask.status!='sto'" type="button" @click="setTaskStatus({job:currentJob().uuid,task:currentTask.index,status:'sto'})" class="btn btn-secondary waves-effect waves-light"><i class="fa fa-stop"></i></button>
										<button :disabled="currentTask.disabled" v-else type="button" @click="setTaskStatus({job:currentJob().uuid,task:currentTask.index,status:'inp'})" class="btn btn-secondary waves-effect waves-light"><i class="fa fa-play"></i></button>
										<button :disabled="currentTask.disabled" type="button" @click="setTaskStatus({job:currentJob().uuid,task:currentTask.index,status:'que'})" class="btn btn-secondary waves-effect waves-light"><i class="fa fa-refresh"></i></button>
									</div>
								</div>
								<task-status :task="currentTask"></task-status>
							<hr>
							<h5>Task Log</h5>
							<p>10.01.2017 12:32:15 Start Task on host "host001"</p>
							<p>10.01.2017 12:34:13 Load complete</p>
							<p>10.01.2017 12:34:13 Complete frame 1</p>
							<p>10.01.2017 12:34:13 Image: .../frame_001.exr</p>
							</div>
						</div>
					</div>
				</b-tab>
				<b-tab :title="$t('jobs.job_logs')">
					<div class="tab-pane" id="tab-3" role="tabpanel">
						<div class="sidebar-todo animated fadeIn">
							<div class="sidebar-group">
								<h6>job Logs</h6>
								<p v-for="log in logs" v-html="log"></p>					
							</div>
						</div>
					</div>
				</b-tab>
			</b-tabs>
			</div>
		</div>		
	</div>
</template>
<script>
import api from '@/api/index.js';
import taskStatus from './task-status.vue';
import ClickOutside from 'vue-click-outside';
import {mapGetters,mapActions,mapMutations,mapState} from 'vuex';
import date from '@/date/index.js';
import globals from '@/globals/index.js';
export default {
	name:'job-panel',
	directives: {
		ClickOutside
	},
	created:function(){
	   this.$store.watch( (state)=> {
			return state.jobPanel
	   }, (new_state) => {
			if(new_state.tab==2) {
				this.getLogs();
			} else {
				this.logs=[];
				if (this.logs_timeout){
					clearTimeout(this.logs_timeout);
				}
			}
	   },{deep:true})
	},
	components:{taskStatus},
	computed:{
		...mapGetters('jobs',['currentJob']),
		...mapGetters('projects',['getProjectNameByID']),
		...mapState(['jobPanel','lightbox']),
		currentTask:function() {
			return this.currentJob().tasks[this.task_index];
		},
	},
	data:function() {
		return {
			logs:[],
			tab:0,
			task_details:false,
			task_index:-1,
			logs_timeout:false,
		}
	},
	methods:{
		...mapActions('jobs',['setTaskStatus']),
		...mapMutations(['showLightbox','setJobPanel']),
		getLogs:function() {
			api.mockDataRequest().then(data=>{
				this.logs.unshift(data);
				this.logs_timeout=setTimeout(this.getLogs,globals.api.logs_request_time);
			})
		},
		showTaskDetails:function(index) {
			this.task_details=true;
			this.task_index=index;
		},
		hidePanel:function(){
			if (this.jobPanel.opened) {
				var time=new Date().getTime();
				if (time-this.jobPanel.lastTimeOpened>1000 && time-this.lightbox.lastTimeClosed>1000) {  // проверка времени последнего открытия панели, без нее панель бы закрывалась сразу же после открытия
					this.$store.commit('setJobPanel',{state:false});									 // (т.к. используется директива ClickOutside, реагирующая на любой клик вне панели)
				}
			}
		},
		getCompleteTasks:function(tasks){
			return tasks.filter(task=>task.status=='rea').length;
		},
		status:function(my_status){
			return this.$t('statuses.'+my_status);
		},
		date:function(my_date){
			return date.show(my_date);
		}
	}
}
</script>