<template>
<li class="nav-item ">
	<span class="nav-link"style="font-size: 1.3em" v-if="!branding.logo">{{branding.name}}</span>
	<img class="nav-logo" v-else :src="branding.logo" />
</li>
</template>
<script>
import globals from '@/globals/index.js';
export default {
	data:function() {
		return {
			branding:globals.branding
		}
	},
	'name':'logo'
};
</script>