<template>
<div>
	<div class="notifications-wrapper">
		<div v-for="notification in notificationsList" class="notification" :class="['notification-'+notification.type,notification.status==-1 ? 'notification-out' : '']">
			<i class="fa fa-check" v-if="notification.type=='info'"></i>
			<i class="fa fa-exclamation-triangle" v-else-if="notification.type=='warning'"></i>
			<i class="fa fa-times" v-else-if="notification.type=='error'"></i>
			<span class="notification-text" v-html="notification.text"></span>
		</div>
	</div>
	<div class="lightbox lightbox-modal" :class="{'lightbox-active':popupData.shown}">
		<div class="lightbox-inner" >
			<div class="lightbox-close" style="display:none" ><i class="fa fa-times"></i>{{$t('common.close')}}</div>
			<p class="lightbox-text" v-html="popupData.text"></p>
			<a class="btn btn-primary" @click="popup({'shown':false})" v-html="popupData.button_text"></a>
		</div>
	</div>
</div>
</template>
<script>
import {mapMutations,mapState} from 'vuex';
export default {
	name:'notifications',
	computed:{
		...mapState('notifications',['notificationsList','popupData']),
	},
	methods:{
		...mapMutations('notifications',['popup'])
	}
}
</script>