<template>
<div class="lightbox" :class="{'lightbox-active':lightbox.shown}">
	<div class="lightbox-inner" @click="hideLightbox()">
		<img class="img-fluid" :src="lightbox.picture"/>
	</div>
</div>
</template>
<script>
import {mapGetters,mapMutations,mapState} from 'vuex';
export default {
	name:'previewLightbox',
	computed:{
		...mapState(['lightbox']),
	},
	methods:{
		...mapMutations(['hideLightbox']),
	},
}
</script>