<template>
	<div v-if="task!==undefined">
		<p class="m-b-0-5"><i class="fa task-status" :class="'fa-'+constants.status_icons[task.status]"></i>{{task.elapsed_time}}<span class="pull-xs-right">{{task.progress}}%</span></p>
		<progress class="progress  progress-sm" :class="{'progress-warning':task.status=='wrn','progress-danger':task.status=='err'}" :value="task.progress" max="100">100%</progress>
	</div>
</template>
<script>
import constants from '@/globals/index.js';
export default {
	name:'taskStatus',
	props:['task'],
	data:function() {
		return {
			constants:constants,
		}
	},
}
</script>