<template>
<div class="site-sidebar-second custom-scroll custom-scroll-dark" v-click-outside="hidePanel" :class="{'opened':teamPanel.opened}" style="overflow: hidden; padding: 0px; width: 550px;" >
	<div class="jspContainer" style="position:relative; width: 549px; height: 663px;">
		<div class="pane-close" @click="setTeamPanel(false)"><i class="fa fa-times"></i></div>
		<div class="jspPane" style="padding: 0px; top: 0px; left: 0px; width: 550px;">
			<b-tabs v-model="teamPanel.tab">
				<b-tab :title="$t('common.details')">
					<div class="col-md-12">
                          <h5>{{currentPanelTeamData.name}}</h5>
                          <p>Creator: {{currentPanelTeamData.creator}}</p>
                          <p v-if="currentPanelTeamData.status">Status: {{status(currentPanelTeamData.status)}}</p>
                          <p>Projects: {{currentPanelTeamData.active_jobs}}</p>
                          <p>Score: {{currentPanelTeamData.current_score}}</p>
					</div>
				</b-tab>
				<b-tab :title="$t('common.edit')" >
					
				</b-tab>
				<b-tab :title="$t('billing.title')">
					
				</b-tab>
			</b-tabs>
			</div>
		</div>
		
			
	</div>
</template>
<script>
import ClickOutside from 'vue-click-outside';
import {mapGetters,mapActions,mapMutations,mapState} from 'vuex';
export default {
	name:'job-panel',
	directives: {
		ClickOutside
	},
	components:{},
	computed:{
		...mapGetters('teams',['currentPanelTeamData']),
		...mapGetters('projects',['getProjectNameByID']),
		...mapState(['teamPanel']),
	},
	data:function() {
		return {
			tab:0,
		}
	},
	methods:{
		...mapMutations(['setTeamPanel']),
		status:function(my_status){
			return this.$t('statuses.'+my_status);
		},
		hidePanel:function(){
			if (this.teamPanel.opened) {
				var time=new Date().getTime();
				if (time-this.teamPanel.lastTimeOpened>1000) {
					this.$store.commit('setTeamPanel',{state:false});
				}
			}
		},
	}
}
</script>