<template>
<div class="site-content">
	<div class="content-area p-y-1">
		<div class="container-fluid">
			<slot>		
			</slot>
		</div>
	</div>
</div>
</template>
<script>

export default {
	name:'wrapper',
}
</script>